<div class="border-b border-gray-200">
  <h3 class="font-big leading-tight text-3xl mt-0 mb-2 text-gray-700  ">You're in great company</h3>
  <p class="mb-4">Take back control of your customer data with a world-class customer experiences improvement and analytics solution. We gratefully serve everyone from solo devs to the Fortune 500.
</div>
<div class="mt-4">
  <div class="grid overflow-hidden grid-cols-2 sm:grid-cols-3 grid-rows-2 gap-4 place-items-center">
    <img class="box row-span-1" src="/img/sponsors/ilionx.png">
    <img class="box row-span-1 " src="/img/sponsors/vodafoneziggo.png">
    <img class="box row-span-1" src="/img/sponsors/liof.png">
    <img class="box row-span-1" src="/img/sponsors/semantize.png">
    <img class="box row-span-1" src="/img/sponsors/pib.png">
  </div>
</div>
