<!DOCTYPE html>
<html ceddl-observe="page"
      data-language="{{ .Site.LanguageCode }}"
      data-segment="{{ .Params.segment }}"
      data-sections="{{ range .Params.keywords }}{{.}} {{end}}"
      data-page-ready="page pageMetadata"
      lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body class="font-small flex flex-col min-h-screen text-gray-600">
{{- partial "header.html" . -}}
<main>
  {{- block "main" . }}{{- end }}
</main>
{{- partial "footer.html" . -}}
</body>

</html>
