.header-back {
    /*background:rgba(225, 225, 225, 0.2);*/
    height: 5rem;
}

.usp-back {
    background-image: linear-gradient(to right,#004c4c,#00716b)
}

.default-back {
    background: linear-gradient(100deg,  theme('colors.green.500') -20%, theme('colors.green.700') 25%, theme('colors.green.700') 75%, theme('colors.green.500') 120%);
}

.invite-background {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: calc(100% + 15rem);
    z-index: -1;
    margin-top: -5rem;

    svg {
        position: absolute;
        height: 100%;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}
