.top-border {
    border-width: 10px 0 0;
    border-top-style: solid;
    border-image: linear-gradient(139deg, theme('colors.yellow.400'), theme('colors.orange.500'), theme('colors.green.500'), theme('colors.yellow.600')) 3;
}
