.contact-box {
    @apply flex flex-row w-full md:w-1/2 xl:w-1/4;

    .box {
        box-shadow: 0 1.5rem 3rem rgb(13 21 55 / 8%);
        @apply relative transition-all m-4 pl-8 pt-8 pr-8 pb-12 flex flex-col bg-gray-50 rounded;
    }
}

.contact-box .box:hover {
    transform: translateY(-8px);
    box-shadow: 0 2.5rem 4rem rgb(13 21 55 / 23%);
}

.gray-box {
    @apply  p-4 sm:pl-8 sm:pt-8 sm:pr-8 pb-12 bg-gray-50 rounded;
}

.box-arrows {
    @apply  absolute right-0 bottom-0 p-4 text-green-700 text-xl
}