extends layout

mixin gettingStarted
  p Read the <a href="/getting-started">Getting Started</a> guide for instructions on using ceddl in your projects. Once you've done that, check out the <a href="/demo/index.html">demo application</a> and learn more about the <a href="/eventbus">eventbus</a> so you can hook up your services.

block content
  .container
    .row-fluid
      .span9.page
        .hero-unit
          .home-header
            .title-header
              span.grunt-name CEDDL-polyfill
              span.tag-line The Dynamic Data Layer for the browser.

          .why.pull-left
            h3.h2 What is the CEDDL?
            p Customer Experience Digital Data Layer (CEDDL) is the very first community effort to create a standard data layer. This means data layer implementation will remain independent of vendors. Web Functionality will reference standard data structure improving maintainability and quality, yield savings in terms of time and money. Read more on the <a href="https://www.w3.org/2013/12/ceddl-201312.pdf">ceddl spec</a>


          .why.pull-right
            h2 Why use CEDDL-polyfill?
            p The polyfill implements an HTML attribute-based markup and javascript API you can use today for surfacing digital data on a web application intended for web analytics, website personalization, and DMP implementations. Applying lessons learned by many implementations and bringing this back into a specification that browser vendors can implement.

          .clearfix

          .grunt-preview
            h3.h2 Here's a preview!
            p The datalayer has been designed from the groud up to be part op the web platform. This results in a situation where it works with any backend or frontend solution you can throw at it. While installing ceddl-polyfill is simple, it's slightly more involved to get it running on your project. To see what coding effort is required, take a look at the <a href="/getting-started">Getting Started</a> and <a href="https://github.com/ceddl/ceddl-website-and-spec/demo/">the developement app code.</a>

            p
              img#demotease(src="/img/ceddl-react-angular-vue.png" alt="example applications using vanilla, react, vue and angular. ")

            p We have love for all the MV* and web components frameworks. Demo applications implementing the <a href="">TodoMVC</a> running on <a href="https://github.com/ceddl/ceddl-with-react/">React</a>, <a href="https://github.com/ceddl/ceddl-with-vue/">Vue</a> or <a href="https://github.com/ceddl/ceddl-with-angular/">AngularJS</a> are now available for your reference.

          .technology
            h3.h2 Additional inputs.
            p Many of the inputs / data objects you need in a web datalayer are not part of the spec. But it is nice to have plug and play inputs at an arm's length. Please do not hesitate to provide us with a great input solution of your own at <a href="https://github.com/ceddl/ceddl-aditional-inputs">ceddl-aditional-inputs git repository.</a>
            div
              a.technology(href='https://github.com/ceddl/ceddl-aditional-inputs/blob/master/src/page-ready.js')
                img(src='/img/input-page-ready.jpg', alt='page-ready', width='175', height='110')
              a.technology(href='https://github.com/ceddl/ceddl-aditional-inputs/blob/master/src/page-metadata.js')
                img(src='/img/input-page-metadata.jpg', alt='page-metadata', width='175', height='110')
              a.technology(href='https://github.com/ceddl/ceddl-aditional-inputs/blob/master/src/performance-timing.js')
                img(src='/img/input-performance-timing.jpg', alt='performance-timing', width='175', height='110')
              a.technology(href='href="https://github.com/ceddl/ceddl-aditional-inputs/blob/master/src/heatmap.js')
                img(src='/img/input-heatmap.jpg', alt='heatmap', width='175', height='110')

          .sponsors
            h3.h2 Patreon Sponsors.
            p With out sponsers we have the manpower for full stack support and delivery of web analytics, website personalization and Data management platform solutions. Including BI data stores and service personalization.
                div
                  a.technology(href='https://www.ilionx.com/')
                    img(src='/img/sponsors/logo-ilionx.svg', alt='ilionx', width='175', height='110')

          .sponsors
            h3.h2 Sponsor CEDDL Polyfill.

            p CEDDL Polyfill is an MIT licensed open source project and completely free to use. However, the amount of effort needed to write specs, maintain, develop features for the project is not sustainable without proper financial backing.

            p If you run a business and are using CEDDL Polyfill in a revenue-generating product, it makes business sense to sponsor development: it ensures the project that your product relies on stays healthy and end up being implemented in browsers. It can also help your exposure in the community and makes it easier to attract analytics and Data management platform developers and analysts.

            ul
              li
                <a href="https://www.patreon.com/ceddl" target="_blank"><b>Become a Supporter, Sponser or Gold Sponsor via Patreon</b></a>

            p If you are an individual user and have enjoyed the productivity of using CEDDL polyfill, consider donating as a sign of appreciation.
            div
              a.support-link(href='https://www.paypal.me/ceddl', target='_blank')
                img(src='/img/paypal.png', width='100px')

          .how-get-started
            h3.h2 How do I get started?
            +gettingStarted

      .span3
        .well.sidebar-nav
          .latest-version
            h3 Latest Version
            ul
              li Stable:
                = ' '
                a(href='https://www.npmjs.com/package/@ceddl/ceddl-polyfill') v0.9.9
                span  (npm)
              li Development:
                = ' '
                a(href='https://github.com/ceddl/ceddl-polyfill') master
                span  (GitHub)

          .latest-news
            h3 Latest News
            ul
              each article, i in news
                if i < 3
                  li
                    a(href='/blog/' + article.url)
                      span.title= article.title
                      span.date= article.postDate

          .getting-started
            h3 Getting Started
            +gettingStarted

          .social
            a.github(href='https://github.com/ceddl/', title='CEDDL-polyfill on GitHub')
              span.icon-github
            a.patreon(href='https://www.patreon.com/ceddl', title='CEDDL-polyfill on Patreon')
              span.icon-patreon
            a.feed(href='/rss', title='ceddl-polyfill blog RSS feed')
              span.icon-rss
