<nav class="flex flex-col items-center mb-24">
  <div class="flex flex-row flex-wrap justify-center p-2 max-w-[1300px] home-nav">

    <a class="relative" id="getting-started-main" href="/documentation/essentials/getting-started/">
      <img class="max-h-60 max-w-60" alt="getting started" src="/img/navigationclipart/getting-started.png">
      <p class="home-nav-title">
        <span>GETTING</span><span>STARTED</span>
      </p>
    </a>

    <a class="relative" id="docs-main" href="/documentation/essentials/getting-started/">
      <img class="max-h-60 max-w-60" alt="docs" src="/img/navigationclipart/docs.png">
      <p class="home-nav-title">
        <span>D</span>
        <span>O</span>
        <span>C</span>
        <span>S</span>
      </p>
    </a>

    <a class="relative" id="contact-main" href="/contact/">
      <img class="max-h-60 max-w-60" alt="contact" src="/img/navigationclipart/contact.png">
      <p class="home-nav-title">
        <span>CONTACT</span>
      </p>
    </a>

    <a class="relative" id="blog-main" href="/blog/">
      <img class="max-h-60 max-w-60" alt="blog" src="/img/navigationclipart/blog.png">
      <p class="home-nav-title">
        <span>BLOG</span>
        <span>&</span>
        <span>NEWS</span>
      </p>
    </a>

    <a class="relative" id="consult-main" href="/talk-to-an-ceddl-expert/">
      <img class="max-h-60 max-w-60" alt="consult" src="/img/navigationclipart/consult.png">
      <p class="home-nav-title">
        <span>CUNSULT-</span>
        <span>ANCY</span>
      </p>
    </a>

    <a class="relative" id="working-group-main" href="/w3c-working-group/">
      <img class="max-h-60 max-w-60" alt="working-group" src="/img/navigationclipart/working-group.png">
      <p class="home-nav-title">
        <span>WORKING</span>
        <span>GROUP</span>
      </p>
    </a>

  </div>
</nav>
