<div class="p-5 mb-14 text-gray-700">
  <div class="max-w-4xl m-auto">
    <h3 class="font-big text-3xl mb-6">Partners & Sponsors</h3>
    <div class="grid overflow-hidden grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-1 place-items-center">
      <a class="bg-gray-50 w-full h-20 flex justify-center items-center" target="_blank"
         href="https://www.semantize.nl/"
         rel="partener">
        <img alt="semantize" class="object-contain" src="/img/sponsors/semantize.png">
      </a>
      <a class="bg-gray-50 w-full h-20 flex justify-center" target="_blank" href="https://www.ilionx.com/"
         rel="partener">
        <img alt="ilionx" class="object-contain" src="/img/sponsors/ilionx.png">
      </a>
      <a class="bg-gray-50 w-full h-20 flex justify-center items-center" target="_blank" href="https://liof.nl/"
         rel="partener">
        <img alt="innovatief Limburg" class="object-contain items-center" src="/img/sponsors/liof.png">
      </a>
      <a class="bg-gray-50 w-full h-20 flex justify-center items-center" target="_blank"
         href="/sponsor"
         rel="partner and sponsor">
        <div class="text-xs text-bold font-big text-gray-200">Your logo</div>
      </a>
    </div>
  </div>
</div>