footer.grunt-footer
  .inner
    .container
      ul.pull-right
        li
          a(href='/blog') Blog
        li
          a(href='/contributing') Contributing
        li.social
          a(href='https://github.com/ceddl/', title='CEDDL-polyfill on GitHub')
            span.icon-github
        li.social
          a(href='https://www.patreon.com/ceddl', title='CEDDL-polyfill on Patreon')
            span.icon-patreon
        li.social
          a(href='https://join.slack.com/t/ceddl/shared_invite/enQtNDgzMTMxMDg1NTA2LTU1OGNkNGI5ZTkyYmIxYzNlZjUwOTQzNTA2YzBjN2QzZjFmNjhhZGJjY2VlYmUwNTkzYjkwYjZmMGRkZGY1NjU', title='Join our slack chanel')
            span.icon-slack
        li.social
          a(href='/rss', title='ceddl-polyfill blog RSS feed')
            span.icon-rss


script(src='/js/bundle'+bundleVersion+'.js', async)
